#Homework

Исходные данные - Yandex Cup 2022 RecSys:

Описание соревнования - https://contest.yandex.ru/yacup/contest/41618/problems/
Данные - https://disk.yandex.ru/d/SI1aAooPn9i8TA
Описание данных - в архиве likes_data.zip три файла:
train - обучающий набор данных. Каждая строка - последовательность id треков, которые лайкнул один пользователь. Гарантируется, что лайки даны в той последовательности, в которой их ставил пользователь.
test - набор тестовых данных. Имеет точно такой же формат, но в каждой строке не хватает последнего лайка, который надо предсказать.
track_artists.csv - информация о исполнителях треков. Гарантируется, что у каждого трека есть ровно один исполнитель. Для треков, у которых фактически несколько исполнителей, мы оставили того, который считается основным исполнителем трека.
Описание сабмита - в качестве решения необходимо отправить файл, в котором для каждого пользователя из test в отдельной строке будет не более 100 треков, разделенных пробелом. Гарантируется, что у каждого пользователя будет только 1 лайк в тесте
Метрика - MRR@100
Промежуточная задача - преобразовать данные в pandas.DataFrame вида {user, item, order}, где order - порядковый номер с конца (0 - самый "свежий" лайк, чем больше order, тем позже был поставлен лайк)

Итоговая задача - построить схему валидации для данного соревнования с учетом особенностей сорвенования

Между train и test не должно быть общих пользователей

Количество фолдов задается через параметр класса n_folds

В test должно быть не более p последних треков (параметр класса p)

In [1]:
!pip install rectools

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rectools
  Downloading RecTools-0.3.0-py3-none-any.whl (89 kB)
     |████████████████████████████████| 89 kB 2.8 MB/s
Requirement already satisfied: typeguard<3.0.0,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from rectools) (2.7.1)
Collecting nmslib<3.0.0,>=2.0.4
  Downloading nmslib-2.1.1-cp37-cp37m-manylinux2010_x86_64.whl (13.5 MB)
     |████████████████████████████████| 13.5 MB 8.4 MB/s
Collecting attrs<22.0.0,>=19.1.0
  Downloading attrs-21.4.0-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 2.1 MB/s
Requirement already satisfied: tqdm<5.0.0,>=4.27.0 in /usr/local/lib/python3.7/dist-packages (from rectools) (4.64.1)
Collecting lightfm<2.0,>=1.16
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 47.1 MB/s
Collecting implicit==0.4.4
  Downloading implicit-0.4.4.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 48.9 MB/s
Requirement already satisfied: numpy<2.0.0,>=1.19.5 in /usr/local/lib/python3.7/dist-packages (from rectools) (1.21.6)
Collecting Markdown<3.3,>=3.2
  Downloading Markdown-3.2.2-py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 8.4 MB/s
Requirement already satisfied: pandas<2.0.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from rectools) (1.3.5)
Requirement already satisfied: scipy<2.0.0,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from rectools) (1.7.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm<2.0,>=1.16->rectools) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm<2.0,>=1.16->rectools) (1.0.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from Markdown<3.3,>=3.2->rectools) (4.13.0)
Collecting pybind11<2.6.2
  Downloading pybind11-2.6.1-py2.py3-none-any.whl (188 kB)
     |████████████████████████████████| 188 kB 40.6 MB/s
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from nmslib<3.0.0,>=2.0.4->rectools) (5.4.8)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=0.25.3->rectools) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=0.25.3->rectools) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=0.25.3->rectools) (1.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->Markdown<3.3,>=3.2->rectools) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->Markdown<3.3,>=3.2->rectools) (3.10.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm<2.0,>=1.16->rectools) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm<2.0,>=1.16->rectools) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm<2.0,>=1.16->rectools) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm<2.0,>=1.16->rectools) (2.10)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm<2.0,>=1.16->rectools) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm<2.0,>=1.16->rectools) (1.2.0)
Building wheels for collected packages: implicit, lightfm
  Building wheel for implicit (setup.py) ... done
  Created wheel for implicit: filename=implicit-0.4.4-cp37-cp37m-linux_x86_64.whl size=3411065 sha256=7c3ea76f54317786b24a3d08265656a5fad7ddb51698293b3705ec94e3ba7569
  Stored in directory: /root/.cache/pip/wheels/44/7e/7d/a17324ea207cfbe76aca878b5b8ca0aa932cf55d163329be37
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705376 sha256=be0a62798989c84833f3738a532779ff13afe48fb884ea003b825339c4ea3460
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
Successfully built implicit lightfm
Installing collected packages: pybind11, nmslib, Markdown, lightfm, implicit, attrs, rectools
  Attempting uninstall: Markdown
    Found existing installation: Markdown 3.4.1
    Uninstalling Markdown-3.4.1:
      Successfully uninstalled Markdown-3.4.1
  Attempting uninstall: attrs
    Found existing installation: attrs 22.1.0
    Uninstalling attrs-22.1.0:
      Successfully uninstalled attrs-22.1.0
Successfully installed Markdown-3.2.2 attrs-21.4.0 implicit-0.4.4 lightfm-1.16 nmslib-2.1.1 pybind11-2.6.1 rectools-0.3.0

In [2]:
!wget -O yandex.zip 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/vghCCsBqC-xQgQ'

--2022-11-24 19:45:22--  https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/vghCCsBqC-xQgQ
Resolving getfile.dokpub.com (getfile.dokpub.com)... 142.132.255.217
Connecting to getfile.dokpub.com (getfile.dokpub.com)|142.132.255.217|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloader.disk.yandex.ru/disk/29f05376612ed6a1e418608d4976d8ddd2c3eb81cf0e11dff6e62cdc531e5c59/63800214/hhykUIrqVden_lL2vNRNN9DyK4tLLujpsov9I0NrWo0vDNalChp5V9DMaAvRekyITAGMBTFsXxCEJxKNtXLfMA%3D%3D?uid=0&filename=likes_data.zip&disposition=attachment&hash=v53oKGpCiygFJ679NGHlZOtf5V61F5CVDFb7pIGqnV6UtNWjzyyb6SKMA/64QQ8g/CH%2B%2BsnE5duAiqM/EjDILQ%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1130000061907806&fsize=361784743&hid=ba2a68ab89688000683587afc4619a0b&media_type=compressed&tknv=v2 [following]
--2022-11-24 19:45:24--  https://downloader.disk.yandex.ru/disk/29f05376612ed6a1e418608d4976d8ddd2c3eb81cf0e11dff6e62cdc531e5c59/63800214/hhykUIrqVden_lL2vNRNN9DyK4tLLujpsov9I0NrWo0vDNalChp5V9DMaAvRekyITAGMBTFsXxCEJxKNtXLfMA%3D%3D?uid=0&filename=likes_data.zip&disposition=attachment&hash=v53oKGpCiygFJ679NGHlZOtf5V61F5CVDFb7pIGqnV6UtNWjzyyb6SKMA/64QQ8g/CH%2B%2BsnE5duAiqM/EjDILQ%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1130000061907806&fsize=361784743&hid=ba2a68ab89688000683587afc4619a0b&media_type=compressed&tknv=v2
Resolving downloader.disk.yandex.ru (downloader.disk.yandex.ru)... 77.88.21.127, 2a02:6b8::2:127
Connecting to downloader.disk.yandex.ru (downloader.disk.yandex.ru)|77.88.21.127|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s49vlx.storage.yandex.net/rdisk/29f05376612ed6a1e418608d4976d8ddd2c3eb81cf0e11dff6e62cdc531e5c59/63800214/hhykUIrqVden_lL2vNRNN9DyK4tLLujpsov9I0NrWo0vDNalChp5V9DMaAvRekyITAGMBTFsXxCEJxKNtXLfMA==?uid=0&filename=likes_data.zip&disposition=attachment&hash=v53oKGpCiygFJ679NGHlZOtf5V61F5CVDFb7pIGqnV6UtNWjzyyb6SKMA/64QQ8g/CH%2B%2BsnE5duAiqM/EjDILQ%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1130000061907806&fsize=361784743&hid=ba2a68ab89688000683587afc4619a0b&media_type=compressed&tknv=v2&rtoken=sCplg40BpDxc&force_default=no&ycrid=na-46d6dbb2ab2199a94f33d24c2471c3f0-downloader22e&ts=5ee3fffb5ad00&s=9a89b5cb5813e5be99d4960ddef3c60ca66acd3772cfde96c0247598f1e863ce&pb=U2FsdGVkX19JDuMFb3XnYDHesjedr0stfIIoAFPooGuCnM4iMnnV07_IdnsAhrvbCUCP9PgYT88sok0VePMWZ_RXPVTEO0cXeS3tfpi6ViA [following]
--2022-11-24 19:45:25--  https://s49vlx.storage.yandex.net/rdisk/29f05376612ed6a1e418608d4976d8ddd2c3eb81cf0e11dff6e62cdc531e5c59/63800214/hhykUIrqVden_lL2vNRNN9DyK4tLLujpsov9I0NrWo0vDNalChp5V9DMaAvRekyITAGMBTFsXxCEJxKNtXLfMA==?uid=0&filename=likes_data.zip&disposition=attachment&hash=v53oKGpCiygFJ679NGHlZOtf5V61F5CVDFb7pIGqnV6UtNWjzyyb6SKMA/64QQ8g/CH%2B%2BsnE5duAiqM/EjDILQ%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1130000061907806&fsize=361784743&hid=ba2a68ab89688000683587afc4619a0b&media_type=compressed&tknv=v2&rtoken=sCplg40BpDxc&force_default=no&ycrid=na-46d6dbb2ab2199a94f33d24c2471c3f0-downloader22e&ts=5ee3fffb5ad00&s=9a89b5cb5813e5be99d4960ddef3c60ca66acd3772cfde96c0247598f1e863ce&pb=U2FsdGVkX19JDuMFb3XnYDHesjedr0stfIIoAFPooGuCnM4iMnnV07_IdnsAhrvbCUCP9PgYT88sok0VePMWZ_RXPVTEO0cXeS3tfpi6ViA
Resolving s49vlx.storage.yandex.net (s49vlx.storage.yandex.net)... 5.45.236.177, 2a02:6b8:c34:1f:0:41af:3b1b:b3fb
Connecting to s49vlx.storage.yandex.net (s49vlx.storage.yandex.net)|5.45.236.177|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 361784743 (345M) [application/zip]
Saving to: ‘yandex.zip’

yandex.zip          100%[===================>] 345.02M  20.3MB/s    in 19s

2022-11-24 19:45:45 (18.5 MB/s) - ‘yandex.zip’ saved [361784743/361784743]

In [3]:
!unzip yandex.zip

Archive:  yandex.zip
  inflating: test
  inflating: __MACOSX/._test
  inflating: track_artists.csv
  inflating: train
  inflating: __MACOSX/._train

In [4]:
import pandas as pd
import numpy as np
from rectools import Columns
from sklearn.model_selection import KFold

In [5]:
train_df = pd.read_csv('train', sep='/n', names=['item_id'])
train_df.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                             item_id
0  333396 267089 155959 353335 414000 339989 2741...
1  174197 335779 141676 119856 376664 311755 3881...

In [6]:
test_df = pd.read_csv('test', sep='/n', names=['item_id'])
test_df.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                             item_id
0  454758 382341 240893 280388 362253 436737 2576...
1  294661 374689 182272 102025 70927 86844 280488...

In [7]:
df = pd.concat([train_df, test_df])
len(df) == (len(train_df) + len(test_df))

True

In [8]:
print(df.iloc[0])

item_id    333396 267089 155959 353335 414000 339989 2741...
Name: 0, dtype: object

In [9]:
df['user_id'] = df.index
df.head()

                                             item_id  user_id
0  333396 267089 155959 353335 414000 339989 2741...        0
1  174197 335779 141676 119856 376664 311755 3881...        1
2  254861 213397 462645 403619 446211 221833 1572...        2
3  132371 199878 357751 92032 94315 435049 260359...        3
4  408028 326575 425054 152422 387296 382570 3505...        4

In [10]:
df = df[:10000] # not enought memory
df = df.assign(item_id=df.item_id.str.split(' ')).explode('item_id').reset_index(drop=True)
print(df)

       item_id  user_id
0       333396        0
1       267089        0
2       155959        0
3       353335        0
4       414000        0
...        ...      ...
813867  324685     9999
813868  298143     9999
813869  218454     9999
813870  153932     9999
813871   43077     9999

[813872 rows x 2 columns]

In [11]:
df = df.reindex(columns=['user_id', 'item_id'])

In [12]:
df.head(60)

    user_id item_id
0         0  333396
1         0  267089
2         0  155959
3         0  353335
4         0  414000
5         0  339989
6         0  274187
7         0   82655
8         0  128112
9         0  175883
10        0  205978
11        0   15791
12        0   64173
13        0   27257
14        0  158318
15        0  316245
16        0  119991
17        0  473044
18        0  291409
19        0  330449
20        0  260452
21        0  259656
22        0  397216
23        0  358354
24        0   45852
25        0  406089
26        0   95705
27        0   36152
28        0   80667
29        0  264044
30        0  231069
31        0  109021
32        0  246832
33        0   78073
34        0   46224
35        0  295340
36        0  276118
37        0  421516
38        0  163009
39        0  170753
40        0  432424
41        0  330581
42        0   63471
43        0  424658
44        0  122447
45        0  319811
46        0  352770
47        0  196872
48        0   95202
49        0  159637
50        0  470957
51        0  102795
52        0  278503
53        0  388242
54        1  174197
55        1  335779
56        1  141676
57        1  119856
58        1  376664
59        1  311755

In [13]:
df.rename(
    columns={
        'user_id': Columns.User,
        'item_id': Columns.Item,
    }, 
    inplace=True)

In [14]:
df[Columns.Rank] = df.groupby(Columns.User).cumcount(ascending=False)
df.head(60)

    user_id item_id  rank
0         0  333396    53
1         0  267089    52
2         0  155959    51
3         0  353335    50
4         0  414000    49
5         0  339989    48
6         0  274187    47
7         0   82655    46
8         0  128112    45
9         0  175883    44
10        0  205978    43
11        0   15791    42
12        0   64173    41
13        0   27257    40
14        0  158318    39
15        0  316245    38
16        0  119991    37
17        0  473044    36
18        0  291409    35
19        0  330449    34
20        0  260452    33
21        0  259656    32
22        0  397216    31
23        0  358354    30
24        0   45852    29
25        0  406089    28
26        0   95705    27
27        0   36152    26
28        0   80667    25
29        0  264044    24
30        0  231069    23
31        0  109021    22
32        0  246832    21
33        0   78073    20
34        0   46224    19
35        0  295340    18
36        0  276118    17
37        0  421516    16
38        0  163009    15
39        0  170753    14
40        0  432424    13
41        0  330581    12
42        0   63471    11
43        0  424658    10
44        0  122447     9
45        0  319811     8
46        0  352770     7
47        0  196872     6
48        0   95202     5
49        0  159637     4
50        0  470957     3
51        0  102795     2
52        0  278503     1
53        0  388242     0
54        1  174197     9
55        1  335779     8
56        1  141676     7
57        1  119856     6
58        1  376664     5
59        1  311755     4

Между train и test не должно быть общих пользователей
Количество фолдов задается через параметр класса n_folds
В test должно быть не более p последних треков (параметр класса p)

In [18]:
class UsersKFoldPOut():
    def __init__(self, n_folds=3, user_column=Columns.User, p=2, random_seed=23):
        self.n_folds = n_folds
        self.user_column = user_column
        self.p = p
        self.random_seed = random_seed
    
    def split(self, df):
        users = df[self.user_column].unique()
        users_count = len(users)
        
        np.random.seed(self.random_seed)
        np.random.shuffle(users)
        like_rank = df.groupby(Columns.User).cumcount(ascending=False)
        
        fold_sizes = np.full(self.n_folds, users_count // self.n_folds, dtype=int)
        fold_sizes[: users_count % self.n_folds] += 1
        current = 0
        for fold_size in fold_sizes:
            start, stop = current, current + fold_size
            test_fold_users = users[start:stop]
            test_mask = df[self.user_column].isin(test_fold_users) & (like_rank < self.p)
            train_mask = df[self.user_column].isin(~test_fold_users)
            
            yield train_mask, test_mask

In [19]:
cv = UsersKFoldPOut(n_folds=3, p=3)

for i, (train_mask, test_mask) in enumerate(cv.split(df)):
    train = df[train_mask]
    test = df[test_mask]
    print(f'Fold#{i} | Train: {train.shape[0]}, Test: {test.shape[0]}')

Fold#0 | Train: 0, Test: 10002
Fold#1 | Train: 0, Test: 9999
Fold#2 | Train: 0, Test: 9999